@model IEnumerable<ApiTicketREA.Data.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HolderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HolderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketQuantity)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HolderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HolderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketQuantity)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PurchaseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PurchaseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PurchaseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
